* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.animate {
    animation: toast 1s;
}

@keyframes toast {
    0% {
        transform: translateX(100px);
    }
    100% {
        transform: translateX(0px);
    }
}